{% extends 'iklim/base.html' %}
{% load static %}

{% block title %}Home | Iklim{% endblock title %}

{% block head %}
<style>
  /* Style for the popup */
  .cuaca {
    position: relative;
    display: inline-block;
  }

  /* Popup content (hidden by default) */
  .cuaca .cuaca-info {
    display: none;
    position: absolute;
    background-color: skyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
  }

  /* Show the popup when hovering over the container */
  .cuaca:hover .cuaca-info {
    display: block;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-2">
  <h1 class="info">Prakiraan Cuaca di Indonesia</h1>
  <p>
    Sumber Data: {{source|title}} & BMKG. <br> 
    Akuisisi data: {{timestamp}} <br>
    Waktu saat ini: {% now "Y-m-d H:i:s" %} WIB
  </p>

  <div class="d-flex justify-content-center flex-wrap my-4">
    {% for item in climate %}
    <div class="card mx-2 my-2" style="width: 18rem;">
      <div class="cuaca">
        <img src="static/assets/images/weather/{{item.icon}}.svg" class="card-img-top" alt="{{item.weather}}">
        <div class="cuaca-info">
          {{item.weather}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.lon}} {{item.lat}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}