{% load static %}

<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Contact Me</h2>
        <h3 class="section-subheading text-muted">Drop your questions in here!</h3>
    </div>

    <form id="contactForm" class="page-section" id="contact" method="post" onsubmit="confirm('Are you sure want to submit this question?')">
      {% csrf_token %}
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <!-- Name input-->
            <div class="text-light">{{contact.name.label}}</div>
            <div class="nama_kontak">{{contact.name}}</div>
          </div>
          <div class="form-group">
            <!-- Email address input-->
            <div class="text-light">{{contact.email.label}}</div>
            <div class="email_kontak">{{contact.email}}</div>
          </div>
          <div class="form-group mb-md-0">
            <!-- Phone number input-->
            <div class="text-light">{{contact.phone_number.label}}</div>
            <div class="telepon_kontak">{{contact.phone_number}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Message input-->
            <div class="text-light">{{contact.message.label}}</div>
            <div class="pesan_kontak">{{contact.message}}</div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Submit</button>
    </form>
  </div>
</section>

<script>
  $('.nama_kontak input').addClass('form-control')
  $('.email_kontak input').addClass('form-control')
  $('.telepon_kontak input').addClass('form-control')
  $('.pesan_kontak textarea').addClass('form-control')
</script>