<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">Copyright &copy; 2023 azfaiz.com</div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/zaenun_faiz" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/ahmadzaenunfaiz" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ahmad-zaenun-faiz" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>