# PostgreSQL
PG_HOST=db
PG_PORT=5432
POSTGRES_USER=faiz_admin
POSTGRES_PASS=
POSTGRES_DBNAME=faiz_website

# Django
SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=127.0.0.1|localhost
CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Security
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
SECURE_SSL_REDIRECT=false
SECURE_HSTS_SECONDS=0
SECURE_HSTS_PRELOAD=false
SECURE_HSTS_INCLUDE_SUBDOMAINS=false

# Email SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Cloudflare Tunnel
TUNNEL_TOKEN=

# Google ReCAPTCHA
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
