Django==5.2.7
crispy-bootstrap5==2025.6
django-admin-interface==0.30.1
django-better-admin-arrayfield==1.4.2
django-crispy-forms==2.4
django-recaptcha==4.1.0
django-user-agents==0.4.0
geoip2==5.1.0
gunicorn==23.0.0
pillow==11.3.0
psycopg2-binary==2.9.10
whitenoise==6.7.0
