{% extends 'base_blog.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block head %}
<style>
  @media screen and (min-width: 500px){
    .page{
      width: 500px;
      margin: auto;
    }
  }
</style>
{% endblock head %}

{% block body %}
<div class="mt-5">Header</div>
<div class="container page mt-4">
  <h1>Create Account</h1>
  <p>Create an account here</p>
  <form action="" method="post">
    {{user_form | crispy}}
    {% csrf_token %}
    <input type="submit" value="Submit" class="btn btn-success">
  </form>
</div>
{% endblock body %}