{% extends 'base_blog.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Not Found{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
<div class="mt-5">Header</div>
<div class="container page mt-4">
  <h1>Error 404: Not Found</h1>
  <p>The requested resource was not found on this server.</p>
  <div class="text-center mt-4">
    <img class="img-fluid" src="{% static 'blog/img/masbro1.jpg' %}" alt="welcome" style="height: 70%;">
  </div>
</div>
{% endblock body %}