{% extends 'cuaca/base.html' %}
{% load static %}

{% block title %}{{data.city}} | Cuaca{% endblock title %}

{% block head %}
<!-- Chart.js -->
<script src="{% static 'chartjs/chart.js' %}"></script>

<style>
  .grafik{
    width: 50%;
  }

  .timeframe-cuaca{
    font-size: smaller;
  }

  .text-prakiraan-cuaca{
    font-size: small;
  }

  .stats-item{
    font-size: xx-large;
  }
</style>
{% endblock head %}

{% block body %}
<div class="container mt-3 d3-data">
  <div id="data-info">
    <h1>{{data.city}}</h1>
    <h4>Sumber data: {{data.source|title}} & BMKG</h4>
    <p>
      <span>Akuisisi data: {{data.timestamp}}</span><br>
      <span>Lokasi: {{data.latitude}} {{data.longitude}}</span> 
    </p>
  </div>

  <div id="prakiraan-cuaca">
    <h3>Prakiraan Cuaca</h3>
    <table>
      <thead>
        <tr class="timeframe-cuaca">
          {% for item in data.weather %}
          <td class="text-center" id="weather-{{item.index}}">{{item.index}}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="icon-prakiraan-cuaca">
          {% for item in data.weather %}
          <td>
            <div class="m-3">
              <img src="/static/assets/images/weather/{{item.value}}.svg" class="card-img-top" alt="{{item.label}}">
            </div>
          </td>
          {% endfor %}
        </tr>
        <tr class="text-prakiraan-cuaca">
          {% for item in data.weather %}
          <td class="text-center">{{item.label}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4" id="statistik-cuaca">
    <h3>Statistik Prakiraan Parameter Cuaca</h3>
    <table class="table table-striped">
      <thead>
        <tr class="timeframe-cuaca">
          {% for item in data.temperature %}
          <td class="text-center" id="stats-{{item.index}}">{{item.index}}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr id="title-temperature"><td colspan="12"><strong>Suhu Udara</strong></td></tr>
        <tr class="stats-item">
          {% for item in data.temperature %}
          <td class="text-center">{{item.value}}<sup>o</sup>{{item.unit}}</td>
          {% endfor %}
        </tr>
        <tr id="title-humidity"><td colspan="12"><strong>Kelembaban Udara</strong></td></tr>
        <tr class="stats-item">
          {% for item in data.humidity %}
          <td class="text-center">{{item.value}}{{item.unit}}</td>
          {% endfor %}
        </tr>
        <tr id="title-wind-speed"><td colspan="12"><strong>Kecepatan Angin</strong> (km per jam)</td></tr>
        <tr class="stats-item">
          {% for item in data.wind_speed %}
          <td class="text-center">{{item.value|floatformat:2}}</td>
          {% endfor %}
        </tr>
        <tr id="title-wind-direction"><td colspan="12"><strong>Arah Angin</strong> (derajat bearing)</td></tr>
        <tr class="stats-item">
          {% for item in data.wind_direction %}
          <td class="text-center">{{item.value}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="my-5" id="grafik-cuaca">
    <div class="row">
      <div class="grafik col" id="graph-temperature">
        <h3>Grafik Suhu Udara</h3>
        <canvas id="temperature-chart"></canvas>
      </div>
      <div class="grafik col" id="graph-humidity">
        <h3>Grafik Kelembaban Udara</h3>
        <canvas id="humidity-chart"></canvas>
      </div>
    </div>
    <div class="row mt-4">
      <div class="grafik col" id="graph-wind-speed">
        <h3>Grafik Kecepatan Angin</h3>
        <canvas id="windspeed-chart"></canvas>
      </div>
      <div class="grafik col" id="graph-wind-direction"></div>
    </div>
  </div>
</div>

<!-- Script for Chart.js -->
<script>
  const today = new Date('{{data.timestamp}}')
  const months = [
    'Jan', 'Feb', 'Mar', 
    'Apr', 'Mei', 'Jun', 
    'Jul', 'Ags', 'Sep', 
    'Okt', 'Nov', 'Des'
  ];

  const humidityValue = []
  '{% for item in data.humidity %}'
    humidityValue.push('{{item.value}}')
  '{% endfor %}'

  const temperatureValue = []
  '{% for item in data.temperature %}'
    temperatureValue.push('{{item.value}}')
  '{% endfor %}'

  const windspeedValue = []
  '{% for item in data.wind_speed %}'
    windspeedValue.push('{{item.value}}')
  '{% endfor %}'
  
  const datetimeLabels = []
  let datetimeFormat;
  '{% for item in data.humidity %}'
    if(Number('{{item.datetime}}') < 24){
      datetimeFormat = `${today.getDate()} ${months[today.getMonth()]} ${today.getFullYear()} {{item.datetime}}:00 WIB`
      datetimeLabels.push(datetimeFormat)
    }
    else if(Number('{{item.datetime}}') < 48){
      let hour = '{{item.datetime}}' - 24
      datetimeFormat = `${today.getDate() + 1} ${months[today.getMonth()]} ${today.getFullYear()} ${hour}:00 WIB`
      datetimeLabels.push(datetimeFormat)
    } else{
      let hour = '{{item.datetime}}' - 48
      datetimeFormat = `${today.getDate() + 2} ${months[today.getMonth()]} ${today.getFullYear()} ${hour}:00 WIB`
      datetimeLabels.push(datetimeFormat)
    }
  '{% endfor %}'

  // Set weather datetime
  for(let i=0;i<datetimeLabels.length;i++){
    const weatherElement = document.getElementById('weather-' + i)
    weatherElement.innerHTML = datetimeLabels[i]
    
    const temperatureElement = document.getElementById('stats-' + i)
    temperatureElement.innerHTML = datetimeLabels[i]
  }
</script>
<script src="{% static 'assets/js/cuacaDetails.js' %}"></script>

{% endblock body %}